*{
  margin:0;
  padding :0;
}
body{
  background: #EAF6F6;
  text-align: center;

  font-family:'Merriweather', serif;
}
h1{
  margin : 0 auto;
font-family: 'Sriracha', cursive;
padding-top: 140px;
font-size: 3.2em;
border-top-width: 100px;
padding-left: 150px;
color : white;

}
p {
  line-height: 2;
}


h2{
font-family: 'Mali', cursive;
line-height: 1;
margin-top: 0;
color : white;
font-size: 2.9em;
padding-left: 162px;

}
h3{
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}
h4{
  margin-top: 150px;
  font-size: 50px;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
position: absolute;
  border-style:  none;
  border-top: dotted;
  border-color: white;
  border-width: 6px;
  margin-left: 700.5;
  margin-bottom: 325.5;
  bottom: 0;

width: 10em;
}

.top-container{

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.middle-container{
  margin-top : 20px;
  margin: 0;
background-color:  #EAF6F6;


}
.bottom-container{
  background-color:  #EAF6F6;
  height: 100px;
  width: 100%;
  padding-top: 100px;
}
.ele{
margin-top: 10px;


}
.head{
  height: 100%;
  width: 100%;
  background: url("../Images/cover1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.profile_picture{


   height : 300 ;
    width :   300 ;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  line-height: 3;
  overflow: visible;
}

a:hover {
  color: #EAF6F6;
}

.menu-container {
  position: absolute;
 }
 .menu-trigger{
   width: 60px;
   height:60px;
  margin-left: 10px;
   background-repeat: no-repeat;
   background-size: 40%;
   background-position: center;
   cursor: pointer;

 }
  .menu-container .menu-parent {
    height: calc(100vh - 60px);  /* complete height - above width of image */
    width: 250px;

    background: #EAF6F6;
    position: absolute;
    left: -250px;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s all linear;
 }
   .menu-container .menu-parent.active {
      visibility: visible;
      pointer-events: inherit;
      transition: .2s all ease-in-out;
      opacity: .6;
      left: 0;
 }

 .form{
   line-height: 3em;
   color: #11999E;
   font-family: 'Montserrat', sans-serif;
 }

input[type=text]{

  padding: 5px;
  border : 1px solid;
  border-radius: 5px;
}
input[type=mobile]{

  padding: 5px;
  border : 1px solid;
  border-radius: 5px;
}
input[type=email]{

  padding: 5px;
  border : 1px solid;
  border-radius: 5px;
}
input[type=submit]{

  padding: 15px 32px;
  border : none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #11999E;
}
button{
  color: #11999E;
  background-color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  line-height: 3;
  overflow: visible;
  border: none;
  width: 50px;
margin-right: 100%;
}
